* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: black;
}
.header__page {
  // border: 3px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  &--title {
    animation-name: big;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 80%;
    @media all and (min-width: 1200px) {
      padding-top: 10em;
    }
  }
  @keyframes big {
    from {
      transform: scale(1.2);
      filter: blur(10px);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #54585a, 0 0 20px #54585a, 0 0 20px #54585a, 0 0 20px #54585a, 0 0 25px #54585a;
    }
  }
}

.main__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1.5em;
  &--form {
    width: 90%;
    padding-bottom: 1.5em;
    display: flex;
    justify-content: space-evenly;
    @media all and (min-width: 700px) {
      width: 90%;
      padding-top: 5em;
    }
    @media all and (min-width: 1200px) {
      padding-top: 12em;
      width: 50%;
    }
  }
  &--label {
    font-family: 'Gochi Hand', cursive;
    font-size: 1.25em;
    color: #3fb2d4;
    @media all and (min-width: 768px) {
      font-size: 1.75em;
    }
  }
  &--input {
    outline: none;
    border: 0;
    border-bottom: 2px solid #3fb2d4;
    font-family: 'Gochi Hand', cursive;
    font-size: 0.9em;
    color: white;
    @media all and (min-width: 768px) {
      font-size: 1.75em;
      margin-left: 1.75em;
    }
  }
  &--input:focus {
    border-bottom: 2px solid rgb(122, 214, 30);
  }
  &--list {
    @media all and (min-width: 769px) {
      // margin: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media all and (min-width: 1000px) {
      // margin: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media all and (min-width: 1200px) {
      // margin: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &--list--item {
    grid-column: span 2;
    list-style-type: none;
    margin: 0px;
    cursor: pointer;
    @media all and (min-width: 1000px) {
      grid-column: span 3;
    }
    @media all and (min-width: 1000px) {
      grid-column: span 4;
    }
    &--img:hover {
      filter: hue-rotate(90deg);
    }
    &--name {
      color: white;
      margin-top: 1em;
      padding-top: 1em;
      border-top: 2px solid #3fb2d4;
    }
    &--specie {
      color: white;
      padding-bottom: 1em;
    }
  }
  &--list--container {
    border: 2px solid #3fb2d4;
    margin: 1em;
    @media all and (min-width: 1000px) {
      margin: 0.75em;
    }
  }
  &--list--container:hover {
    border: 2px solid lawngreen;
  }
  // &--no-results {
  //   color: white;
  // }
  &--no-results {
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    margin: 2em 1em;
    &:hover {
      color: lawngreen;
    }
  }
  &--not-found {
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    margin: 5em 1em;
  }
}
.child {
  text-decoration: none;
}
.detail__page {
  &--container {
    border: 2px solid #3fb2d4;
    &:hover {
      border: 3px solid lawngreen;
    }
    @media all and (min-width: 768px) {
      margin-top: 9em;
    }
    @media all and (min-width: 1200px) {
      margin-top: 12em;
      width: 800px;
      display: flex;
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1em;
    }
  }
  &--img {
    border-bottom: 2px solid #3fb2d4;
  }
  &--name {
    color: white;
    padding: 1em 0 1em;
    @media all and (min-width: 1200px) {
      font-size: 2em;
      font-family: 'Cabin Sketch', cursive;
    }
  }
  &--info {
    color: white;
    font-family: 'Cabin Sketch', cursive;
    padding-bottom: 1em;
    font-size: 1.25em;
    @media all and (min-width: 1200px) {
      font-size: 1.5em;
    }
  }
  &--close {
    margin: 1em;
  }
}
.fas.fa-window-close {
  color: #3fb2d4;
  font-size: 2em;
  padding: 0.5em;
  &:hover {
    animation-name: cross;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    @keyframes cross {
      from {
        transform: rotate(0deg);
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #54585a, 0 0 20px #54585a, 0 0 20px #54585a, 0 0 20px #54585a, 0 0 25px #54585a;
        transform: rotate(360deg);
      }
    }
  }
  &:active {
    color: lawngreen;
  }
}
.fab.fa-reddit-alien,
.fas.fa-male,
.fab.fa-creative-commons-sampling {
  font-size: 1.5em;
}

.fab.fa-reddit-alien {
  color: lawngreen;
}

.fab.fa-creative-commons-sampling {
  color: rgb(187, 16, 16);
}
